*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
    /* добавим плавность переходов для всех элементов страницы*/
}
@font-face {
	font-family: 'BOWLER'; 
	src: local('BOWLER'),
		url(/font/BOWLER.ttf); 
}

@font-face {
	font-family: 'OFL'; 
	src: local('OFL'),
		url(/font/OFL.ttf); 
}

body{
    max-width: 100%;
    box-sizing: border-box;
	background-color: white;
    overflow-x: hidden;
}

.delete {
    margin: 0 auto;
    max-width: 100%;
    max-width: 1900px;
    padding: 0;
}

.right {
    position: relative;
    float: right;
    background-size: 100% 100%;
    max-width: 60%;
}
.right:before{
    position: absolute; top: 0; right: 0;
    float: right;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.left {
    float: left;
    transform: translate(40%, 130%);
}


.form-title {
    color: #20293D;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.text {
    font-size: 20px;
    margin-bottom: 10px;
}
.form-buttons {
    margin: 0 auto;
    display: block;
}
.submit {
    background-color: #B3D131;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid #B3D131;
    padding: 10px;
    margin-bottom: 10px;
}

.mx-1 {
    margin: 10px;
    transform: translateY(60%);
}

.no {
    color: black;
    font-size: 20px;
    margin-left: 20px;
}


@media (max-width: 1500px) {
    .left {
        transform: translate(20%, 80%);
    }
}

@media (max-width: 1350px) {
    .left {
        transform: translate(10%, 50%);
    }
}
@media (max-width: 1180px) {
    .left {
        transform: translate(5%,80%);
    }
}
@media (max-width: 1125px) {
    .right {
        display: none;
    }
    main {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
